<div class="content p-4 rounded">
  <h1 class="display-4 text-center">Provisioning manifest</h1>

  <hr class="my-4">

  <% if manifest.content["providers"]["aws"] %>
    <p>
      Export your <a href="http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">AWS access key</a>
      and run this provisioning script to create your platform:
    </p>

    <pre class="p-3 my-4 text-console bg-console border border-console rounded"><code><%= render "console_aws_provisioning" %></code></pre>
  <% else %>
    <p>
      Export your <a href="https://cloud.digitalocean.com/settings/api/tokens">DigitalOcean token</a>
      and run the provisioning script to create your platform:
    </p>

    <pre class="p-3 my-4 text-console bg-console border border-console rounded"><code><%= render "console_digitalocean_provisioning" %></code></pre>
  <% end %>

  <hr class="my-4">

  <p>What this script does is install the <a href="https://rubygems.org/gems/provisioning">provisioning gem</a>, download this manifest file, look for your SSH public key, and run it:</p>

  <pre class="p-3 my-4 text-console bg-console border border-console rounded"><code><%= render "console_manual_provisioning" %></code></pre>

  <hr class="my-4">

  <p>This provisioning manifest will be automatically deleted in less than 24 hours.</p>

  <div class="text-center">
    <%= link_to "Delete now", manifest, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-lg btn-outline-danger", role: "button" %>
  </div>
</div>

<%= link_to "&laquo; back".html_safe, root_path, class: "text-muted float-left" %>
