<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Provisioning.sh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "provisioning" %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div class="container d-flex flex-column" style="min-height:100vh">
      <section>
        <%= render "layouts/alerts" %>

        <%= yield %>
      </section>

      <footer class="mt-auto credits">
        <p class="text-center mt-5">
          <span>Built with &hearts; by <a href="https://vinc.cc"><strong>vinc</strong></a>.</span>
          <span>Code licensed <a href="https://github.com/vinc/provisioning.sh/blob/master/LICENSE"><strong>MIT</strong></a>.</span>
        </p>
      </footer>
    </div>
  </body>
</html>
